
table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
  }
  
  th, td {
    border: 1px solid #191818;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #14e822;
  }
  
  h2 {
    margin-top: 2em;
    color: rgb(139, 0, 113);
    text-align: center;
  }

  